<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>  
	<meta charset="UTF-8">
	<title>新增幣別</title>  
</head>  
<body>  
	新增
	<form action="save2" method="post">  
	<table>  
	<tr>  
	<td><label for="user-name">幣別名稱</label></td>  
	<td><input type="text" name="name"></input></td>  
	 </tr>  
	<tr>  
	<td><label for="code">幣別代號</label></td>  
	<td><input type="text" name="code"></input></td>  
	</tr>  
	<tr>  
	<td></td>  
	<td><input type="submit" value="Submit"></input></td>  
	</tr>  
	</table>  
	</form>  
</body>  
</html>
